.syntax--source.syntax--css, .syntax--source.syntax--less {
  .syntax--class {
    color: @property;
  }
  .syntax--id {
    color: @variable-3;
  }
  .syntax--tag {
    color: @tag;
  }
  .syntax--property-name {
    color: @property;
  }
}
