.syntax--source.syntax--js {
  .syntax--storage {
    color: @keyword;
  }
  .syntax--function.syntax--arrow {
    color: @keyword !important;
  }
  .syntax--other {
    color: @builtin;
  }
  .syntax--method-call {
    .syntax--function:not(.syntax--parameter):not(.syntax--support) {
      color: @blue;
    }
  }
  .syntax--object {
    color: @variable;
  }
  .syntax--property {
    color: @property;
  }
  .syntax--delimiter,
  .syntax--punctuation:not(.syntax--embedded) {
    color: @meta !important;
  }
  .syntax--punctuation.syntax--embedded {
    color: @string;
  }
  .syntax--parameters {
    color: @variable-3;
  }
  .syntax--class.syntax--name {
    color: @builtin;
  }
}

// jsx

.syntax--source.syntax--js {
  .syntax--string.syntax--unquoted.syntax--js-label {
    color: @property;
  }
  .syntax--string.syntax--quoted.syntax--jsx {
    .syntax--string {
      color: @string !important;
    }
    .syntax--meta.syntax--inner {
      color: @string !important;
    }
  }
}
