.syntax--source.syntax--js {
  .syntax--storage {
    color: @pink;
  }
  .syntax--other {
    color: @green;
  }
  .syntax--function {
    color: @green;
  }
  .syntax--method-call {
    .syntax--function {
      color: @blue;
    }
  }
  .syntax--object {
    color: @green;
  }
  .syntax--property {
    color: @blue;
  }
}
